*,
:after,
:before {
    box-sizing: border-box
}

:root {
    --color-button-blue: rgb(17, 5, 255);
    --radius: 70px;
    --color-border: #707070;
    --color-text: white;
    --color-background: white;
    --color-button-hover: lightblue;
    --size-screen-desktop: 900px;
}

html {
    font-size: 100%
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--color-text);
}

aside,
footer,
header,
main,
section {
    display: block;
    margin: 0;
    padding: 1.25rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    border: 1px solid black;
    color: var(--color-text);
}

header {
    padding: 0rem;
    padding-top: 1rem;
}

main {
    background: black;
}

.head-box {
    margin-top: 50px;
    padding: 20px;
    /*border-radius: var(--radius); */
    border: 1px solid #000;
    border-radius: var(--radius);
}

.hero-button {
    background-color: var(--color-button-blue);
    width: 190px;
    height: 52px;
    border: 1px solid var(--color-button-blue);
    border-radius: var(--radius);
    color: var(--color-text);
    text-align: center;
    margin-top: 40px;
}

button:hover {
    /*background-color: var(--color-button-hover);*/
    /*box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);*/
    /*box-shadow: 0px 15px 20px rgba(17, 5, 255, 0.4);*/
    /*box-shadow: 0px 15px 20px rgba(17, 5, 255, 0.9);*/
    box-shadow: 0px 0px 20px rgb(17, 5, 255);
    color: #fff;
    border: 1px solid white;
    transition: all 500ms ease-in-out;
}

.centered {
    text-align: center;
}

.wrapper {
    margin: auto;
    max-width: 75rem
}

.buttonAndSocial {
    margin-top: 40px;
}

.content-div {
    margin-bottom: 10px;
}

.content {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

@media screen and (min-width: 900px) {
    .flex-container {
        display: flex;
    }
    .content {
        flex: 1;
        flex-direction: row;
    }
    .sidebar {
        flex: 0 1 200px;
        background: #673ab7
    }
    .footer,
    .sidebar {
        border: 1px solid #000
    }
    header {
        padding: 1.25rem;
    }
    .head-box {
        margin-top: 80px;
        padding: 20px;
    }
}